.permission-table {
    .v-input--selection-controls {
        margin-top: 5px;
        padding-top: 0;
        .v-label {
            font-size: 14px;
        }
    }
    .main-permission-label {
        text-transform: uppercase;
    }
}
