.reset-password-section {
    font-family: Roboto,sans-serif;
    .card-header{
        font-size: 24px;
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 1.2;
        font-family: Roboto,sans-serif;
    }
    .card{
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .input-group {
        position: relative;
        margin: 0;
    }

    input {
        font-size: 14px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px !important;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #757575;
    }

    input:focus {
        outline: none;
    }

    label {
        color: #999;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    input:focus ~ label,
    input:valid ~ label {
        top: -20px;
        font-size: 12px;
        color: #000;
    }

    .bar {
        position: relative;
        display:block;
        width:315px;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #000;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* animations */
    @-webkit-keyframes inputHighlighter {
        from { background: $black_color; }
        to   { width: 0; background: transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background: $black_color; }
        to   { width: 0; background: transparent; }
    }
    @keyframes inputHighlighter {
        from { background: $black_color; }
        to   { width: 0; background: transparent; }
    }
    .btn.btn-primary {
        font-weight: 700;
        font-size: 11px;
    }
}

