//
// Header
//

// Desktop Mode
@include media-breakpoint-up(lg) {
    .header {
        display: flex;
        justify-content: space-between;
        height: get($header-config, desktop, default, height);
        position: relative;
        z-index: 2;

        // Fixed Header Mode
        &.header-fixed {
            height: get($header-config, desktop, fixed, height);
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: get($header-config, desktop, fixed, zindex);
            border-bottom: 1px solid #EBEDF3 !important;
            box-shadow: 0px 6px 14px 0px rgba(82, 63, 105, 0.08);
        }

        // Aside Enabled Mode
        .aside-enabled & {
            &.header-fixed {
                left: get($aside-config, base, width);
            }
        }

        // Fixed Header & Minimized Aside & Minimized Aside Hover Modes
        .header-fixed.aside-minimize-hover &,
        .header-fixed.aside-minimize & {
            left: get($aside-config, base, minimized-width);
        }

        // Fixed Header & Fixed Subheader Modes
        .header-fixed.subheader-fixed & {
            box-shadow: none !important;
        }
    }
}

.nav-header {
    button {
        background-color: transparent !important;
        border: none !important;
        text-transform: capitalize;
        opacity: 1 !important;
        a {
            color: #111111!important;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 0;
        }
    }
    .v-btn:before {
        background-color: transparent !important;
    }
    .v-btn--active:before {
        background-color: #338095 !important;
        border-radius: 4px !important;
    }
    .v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
        height: 38px !important;
    }
}

#kt_subheader .heading-img { width: 22px; }
