.btn.btn-grey {
    background-color: $secondary_btn_color !important;
    border-color: $secondary_btn_color !important;
    color: $white_color !important;
}

.btn.btn-primary {
    background-color: $primary_btn_color !important;
    color: $white_color !important;
    border-color: $primary_btn_color !important;
}

.btn-black {
    background-color: $black_btn_color !important;
    color: $white_color !important;
    border-color: $black_btn_color !important;
}

.btn.btn-light-primary{
    background-color: $theme_background_color !important;
    color: $theme_color !important;
    border-color: $theme_background_color !important;
    font-weight: 600;
}

.btn.theme-btn {
    background-color: $theme_color !important;
    color: $white_color !important;
    border-color: $theme_color !important;
}
